button {
    text-align: justify;
    border: 1PX solid black;
    background: rgb(180, 67, 67);
    color: white;
    width: 400PX;
    padding: 50PX;
    box-shadow: 10px 20px 10px rgb(228, 113, 113);
    font-size: 30px;
}

button:hover:before {
    content: "YES! OR NO!";
    font-size: 30px;
    padding-left: 60px;
}

button:hover span {
    display: none;
}